In [ ]:
import tkinter as tk


def print_text():
    entered_text = entry.get()
    result_label.config(text="You entered: " + entered_text)


root = tk.Tk()
root.title("Text Entry Example")

entry_label = tk.Label(root, text="Enter text:")
entry_label.pack()

entry = tk.Entry(root)
entry.pack()

print_button = tk.Button(root, text="Print Text", command=print_text)
print_button.pack()

result_label = tk.Label(root, text="")
result_label.pack()

root.mainloop()

In [ ]:
import tkinter as tk


def print_text():
    entered_text1 = entry1.get()
    entered_text2 = entry2.get()

    result_label.config(
        text=f"You entered: {entered_text1} and {entered_text2}")


root = tk.Tk()
root.title("Multiple Text Entry Example")

label1 = tk.Label(root, text="Enter text 1:")
label1.pack()

entry1 = tk.Entry(root)
entry1.pack()

label2 = tk.Label(root, text="Enter text 2:")
label2.pack()

entry2 = tk.Entry(root)
entry2.pack()

print_button = tk.Button(root, text="Print Text", command=print_text)
print_button.pack()

result_label = tk.Label(root, text="")
result_label.pack()

root.mainloop()

In [ ]:
import tkinter as tk


def on_option_select(event):
    selected_option = option_var.get()
    result_label.config(text=f"You selected {selected_option}.")
    # Perform some action based on the selected option here


root = tk.Tk()
root.title("Dropdown Menu Example")

option_var = tk.StringVar()
option_var.set("Option 1")  # Set the default option

options = ["Option 1", "Option 2", "Option 3"]

option_menu = tk.OptionMenu(
    root, option_var, *options, command=on_option_select)
option_menu.config(width=15)  # Adjust the width as needed
# Bind the event to option selection
option_menu.bind("<Configure>", on_option_select)

result_label = tk.Label(root, text="")
option_menu.pack()
result_label.pack()

root.mainloop()

In [ ]:
import tkinter as tk


def create_table(root, data):
    num_rows = len(data)
    num_cols = len(data[0])

    for i in range(num_rows):
        for j in range(num_cols):
            cell_value = data[i][j]
            cell_entry = tk.Entry(root, width=15)
            cell_entry.insert(0, cell_value)
            cell_entry.grid(row=i, column=j)


if __name__ == "__main__":
    root = tk.Tk()
    root.title("Table Example")

    # Sample data for the table (2x3)
    table_data = [
        ["Name", "Age", "Country"],
        ["Alice", "25", "USA"],
        ["Bob", "30", "Canada"],
    ]

    create_table(root, table_data)

    root.mainloop()

In [ ]:
import tkinter as tk


def create_table(root, data):
    num_rows = len(data)
    num_cols = len(data[0])

    table_entries = []  # Store the Entry widgets in a list

    for i in range(num_rows):
        row_entries = []  # Store the Entry widgets for each row
        for j in range(num_cols):
            cell_value = data[i][j]
            cell_entry = tk.Entry(root, width=15)
            cell_entry.insert(0, cell_value)
            cell_entry.grid(row=i, column=j)
            row_entries.append(cell_entry)
        table_entries.append(row_entries)

    return table_entries  # Return the list of Entry widgets


def display_table(root, table_entries):
    table_text = ""
    for row in table_entries:
        for entry in row:
            table_text += entry.get() + "\t"
        table_text += "\n"

    table_display.config(state=tk.NORMAL)  # Enable text widget for editing
    table_display.delete(1.0, tk.END)  # Clear existing text
    table_display.insert(tk.END, table_text)  # Insert table data
    table_display.config(state=tk.DISABLED)  # Disable text widget for editing


if __name__ == "__main__":
    root = tk.Tk()
    root.title("Table Example")

    # Sample data for the table (2x3)
    table_data = [
        ["Name", "Age", "Country"],
        ["Alice", "25", "USA"],
        ["Bob", "30", "Canada"],
    ]

    table_entries = create_table(root, table_data)

    # Create a Text widget to display the table contents
    table_display = tk.Text(root, width=40, height=10, state=tk.DISABLED)
    table_display.grid(row=len(table_data) + 1, columnspan=len(table_data[0]))

    display_button = tk.Button(
        root, text="Display Table", command=lambda: display_table(root, table_entries))
    display_button.grid(row=len(table_data), columnspan=len(table_data[0]))

    root.mainloop()

In [ ]:
import tkinter as tk


def create_table(root, data):
    num_rows = len(data)
    num_cols = len(data[0])

    table_labels = []  # Store the Label widgets in a 2D list

    for i in range(num_rows):
        row_labels = []  # Store the Label widgets for each row
        for j in range(num_cols):
            cell_value = data[i][j]
            cell_label = tk.Label(root, text=cell_value,
                                  width=15, relief="solid")
            cell_label.grid(row=i, column=j)
            row_labels.append(cell_label)
        table_labels.append(row_labels)


if __name__ == "__main__":
    root = tk.Tk()
    root.title("Table Example")

    # Sample data for the table (2x3)
    table_data = [
        ["Name", "Age", "Country"],
        ["Alice", "25", "USA"],
        ["Bob", "30", "Canada"],
    ]

    create_table(root, table_data)

    root.mainloop()

In [ ]:
data = [
    {
        "name": 88,
        "anasa": 90
    },
    {
        "gof": 90,
        "loi": 99
    }
]

In [ ]:
data

In [ ]:
a = data[0].keys()
a = list(a)
a

In [ ]:
dc.values()

In [ ]:
import tkinter as tk
from PIL import Image, ImageTk

root = tk.Tk()
root.title("Image Example")

# Open an image using Pillow and convert it to PhotoImage
image_path = "school.png"  # Replace with your image file path
image_pil = Image.open(image_path)
new_size = (300, 300)
resized_image = image_pil.resize(new_size)
image_tk = ImageTk.PhotoImage(resized_image)

# Create a Label to display the image
image_label = tk.Label(root, image=image_tk)
image_label.pack()

root.mainloop()

In [ ]:
from pymongo import MongoClient

client = MongoClient(
    "mongodb+srv://ehteshaam44:ayeman786@cluster0.4nqvdgk.mongodb.net/")

In [ ]:
db = client.library_mang_sys

In [ ]:
collection = db.inventory_management

In [ ]:
a = collection.find({})

In [ ]:
a[0]

In [ ]:
n = collection.insert_one({"Book Name": 7, "Author Name": 90}).inserted_id

In [ ]:
n

In [ ]:
collection.count_documents({})

In [ ]:
ls = []

In [ ]:
db = client.library_mang_sys
infor = db.inventory_management
ttl_docs = infor.count_documents({})
dc_data = list(infor.find({}))

In [ ]:
ls.append(list(dc_data[0].keys()))

In [ ]:
for i in range(ttl_docs):
    dc_value = list(dc_data[i].values())
    ls.append(dc_value)

In [ ]:
print(ls)

In [1]:
import tkinter as tk


def login():
    entered_username = username_entry.get()
    entered_password = password_entry.get()

    # Replace this with your authentication logic
    if entered_username == "your_username" and entered_password == "your_password":
        result_label.config(text="Login Successful")
    else:
        result_label.config(text="Login Failed")


# Create the main window
root = tk.Tk()
root.title("Login Page")

# Username label and entry
username_label = tk.Label(root, text="Username:")
username_label.pack()

username_entry = tk.Entry(root)
username_entry.pack()

# Password label and entry
password_label = tk.Label(root, text="Password:")
password_label.pack()

password_entry = tk.Entry(root, show="*")  # Show asterisks for password
password_entry.pack()

# Login button
login_button = tk.Button(root, text="Login", command=login)
login_button.pack()

# Result label to display login status
result_label = tk.Label(root, text="")
result_label.pack()

# Start the main loop
root.mainloop()

In [2]:
a = [[1, 2, 2, 3], [5, 6, 7, 8]]

In [32]:
import pandas as pd

In [4]:
a = pd.DataFrame(a)

In [8]:
a

   0  1  2  3
0  1  2  2  3
1  5  6  7  8

In [8]:
a = {
    "Book Name": ["entered_text1"],
    "Author Name": ["entered_text2"],
    "Genre": ["selected_option"],
    "Date": ["date"],
    "Time": ["time"]
}

In [9]:
df = pd.DataFrame(a)

In [10]:
df

       Book Name    Author Name            Genre  Date  Time
0  entered_text1  entered_text2  selected_option  date  time

In [49]:
b = {
    "Book Name": ["entered_text"],
    "Author Name": ["entered_text"],
    "Genre": ["selected_option1"],
    "Date": ["date1"],
    "Time": ["time1"]
}

In [50]:
a = {
    "Book Name": ["enterqweqed_text"],
    "Author Name": ["enteqqeweqwered_text"],
    "Genre": ["selecqweqwted_option1"],
    "Date": ["dateqweq1"],
    "Time": ["time1weq"]
}

In [52]:
df = pd.concat([df_a, df_b], ignore_index=True)

In [51]:
df_b = pd.DataFrame(b)
df_a = pd.DataFrame(a)

In [22]:
a = df_.to_records(index=False)

In [94]:
a = [list(df.columns)]

In [95]:
a

[['Book Name', 'Author Name', 'Genre', 'Date', 'Time']]

In [96]:
a.append(list(df.values))

In [104]:
import numpy as np

In [101]:
column_names = df.columns.tolist()

In [102]:
data_values = df.values
data_values = df.values

In [105]:
numpy_2d_array_with_column_names = np.vstack([column_names, data_values])

In [110]:
numpy_2d_array_with_column_names[2]

array(['entered_text', 'entered_text', 'selected_option1', 'date1',
       'time1'], dtype=object)

In [100]:
a[1]

[array(['enterqweqed_text', 'enteqqeweqwered_text',
        'selecqweqwted_option1', 'dateqweq1', 'time1weq'], dtype=object),
 array(['entered_text', 'entered_text', 'selected_option1', 'date1',
        'time1'], dtype=object)]

In [78]:
list(s)

[array(['enterqweqed_text', 'enteqqeweqwered_text',
        'selecqweqwted_option1', 'dateqweq1', 'time1weq'], dtype=object),
 array(['entered_text', 'entered_text', 'selected_option1', 'date1',
        'time1'], dtype=object)]

In [82]:
a.append(s)

In [85]:
a[1]

array([['enterqweqed_text', 'enteqqeweqwered_text',
        'selecqweqwted_option1', 'dateqweq1', 'time1weq'],
       ['entered_text', 'entered_text', 'selected_option1', 'date1',
        'time1']], dtype=object)

In [18]:
df = pd.concat([df, df_], ignore_index=True)

In [19]:
df

       Book Name    Author Name             Genre   Date   Time
0  entered_text1  entered_text2   selected_option   date   time
1   entered_text   entered_text  selected_option1  date1  time1

In [27]:
import os

In [28]:
"books_manegment.csv" in os.listdir()

False

In [30]:
"books_manegment.csv" in os.listdir(
    "D:\CodeClause\Library Management System\Data")

False

In [53]:
df_O = pd.read_csv(
    "D:\CodeClause\Library Management System/books_manegment.csv")

In [54]:
df_O

   Unnamed: 0      Book Name    Author Name             Genre   Date   Time
0           0  entered_text1  entered_text2   selected_option   date   time
1           1   entered_text   entered_text  selected_option1  date1  time1
2           2   entered_text   entered_text  selected_option1  date1  time1

In [55]:
d = pd.concat([df, df_], ignore_index=True)

In [56]:
d

,Book Name,Author Name,Genre,Date,Time
0,entered_text1,entered_text2,selected_option,date,time
1,entered_text,entered_text,selected_option1,date1,time1
2,enterqweqed_text,enteqqeweqwered_text,selecqweqwted_option1,dateqweq1,time1weq

In [44]:
d.to_csv("D:\CodeClause\Library Management System/books_manegment.csv")

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [4]:
type(df) == 'pandas.core.frame.DataFrame'

False

In [6]:
isinstance(df, pd.core.frame.DataFrame)

True

In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv("D:/CodeClause/Library Management System/Data/user_info.csv")

In [3]:
df[df["Username"] == "fefwef"].shape[0]

0

In [7]:
dic = {
    "Name": ["name"],
    "Username": ["username"],
    "Password": ["password"]
}
if "user_info.csv" in os.listdir("D:\CodeClause\Library Management System\Data"):
    
    user_df = pd.read_csv("D:/CodeClause/Library Management System/Data/user_info.csv")
else:
    user_df = pd.DataFrame(dic)

In [20]:
user_df

               Name     Username    Password
0       ewqdrwefwef      fwefwef     weffwef
1  fwefwefweewrwert  tyryurtitui  rtuyeryutj

In [25]:
identification_user = user_df.loc[user_df['Username'] == "tyryurtitui"]

In [26]:
identification_user

               Name     Username    Password
1  fwefwefweewrwert  tyryurtitui  rtuyeryutj

In [32]:
identification_user["Password"].iloc[0] == "rtuyeryutj"

True

In [29]:
if identification_user['Password'] == "rtuyeryutj":
    print("True")

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [2]:
df = pd.read_csv("D:/CodeClause/Library Management System/Data/books_manegment.csv")

In [3]:
df

  Book Name Author Name          Genre        Date         Time
0  dadasdda    asdadada  Entertainment  2023 09 15  02:18:59 AM

In [4]:
r, c = df.shape[0], df.shape[1]

In [5]:
r

1

In [6]:
c

5

In [12]:
col = df.columns

In [15]:
colo = [col.to_list()]

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [16]:
colo

[['Book Name', 'Author Name', 'Genre', 'Date', 'Time']]

In [17]:
colo.append(df.values)

In [24]:
import numpy as np

In [22]:
colo

[['Book Name', 'Author Name', 'Genre', 'Date', 'Time'],
 array([['dadasdda', 'asdadada', 'Entertainment', '2023 09 15',
         '02:18:59 AM']], dtype=object)]

In [25]:
two_dimensional_array = [list(item) if isinstance(item, np.ndarray) else item for item in colo]

In [28]:
two_dimensional_array[1]

[array(['dadasdda', 'asdadada', 'Entertainment', '2023 09 15',
        '02:18:59 AM'], dtype=object)]

In [11]:
df.values[0]

array(['dadasdda', 'asdadada', 'Entertainment', '2023 09 15',
       '02:18:59 AM'], dtype=object)

In [37]:
a = df.values

In [38]:
b = np.vstack([df.columns.tolist(), a])

In [41]:
b[1]

array(['dadasdda', 'asdadada', 'Entertainment', '2023 09 15',
       '02:18:59 AM'], dtype=object)

In [42]:
import os

In [45]:
os.path.isfile("D:/CodeClause/Library Management System/Data/books_manegment.csv")

True

In [35]:
a.append(df.columns)

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [46]:
import tkinter as tk

def update_label_text():
    label.config(text="Updated Text")

root = tk.Tk()
label = tk.Label(root, text="Initial Text")
label.pack()
update_button = tk.Button(root, text="Update Label", command=update_label_text)
update_button.pack()
root.mainloop()