In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.metrics.pairwise import cosine_similarity
import difflib

In [2]:
df = pd.read_csv("D:/CodeClause/Library Management System/Data/books_manegment.csv")

In [3]:
df

        Book Name       Author Name          Genre        Date         Time
0    Harry Potter           Rilliam  Entertainment  2023 09 15  08:16:24 PM
1       Your Name            Ansari     Technology  2023 09 15  08:24:58 PM
2       Ehteesham           silioam  Entertainment  2023 09 15  08:28:39 PM
3  Alien Part - 3            Ansari  Entertainment  2023 09 15  08:53:33 PM
4  Alien Part - 2  Ansari EHteesham  Entertainment  2023 09 15  08:54:35 PM
5    Alien Part 5           Ansari         Finance  2023 09 15  08:55:59 PM
6    Hello Potter         Why This   Entertainment  2023 09 15  09:49:50 PM

In [8]:
df_ = df[["Book Name", "Author Name", "Genre"]]

In [9]:
df_

        Book Name       Author Name          Genre
0    Harry Potter           Rilliam  Entertainment
1       Your Name            Ansari     Technology
2       Ehteesham           silioam  Entertainment
3  Alien Part - 3            Ansari  Entertainment
4  Alien Part - 2  Ansari EHteesham  Entertainment
5    Alien Part 5           Ansari         Finance
6    Hello Potter         Why This   Entertainment

In [10]:
x = df_["Book Name"] + " " + df_["Author Name"] + " " + df_["Genre"]

In [11]:
x

0               Harry Potter Rilliam Entertainment
1                      Your Name Ansari Technology
2                  Ehteesham silioam Entertainment
3              Alien Part - 3 Ansari Entertainment
4    Alien Part - 2 Ansari EHteesham Entertainment
5                     Alien Part 5 Ansari  Finance
6             Hello Potter Why This  Entertainment
dtype: object

In [12]:
tfidf = TfidfVectorizer()

In [13]:
X = tfidf.fit_transform(x)

In [18]:
print(X)

  (0, 3)	0.31257907911644855
  (0, 10)	0.579262311604141
  (0, 9)	0.48083746527154797
  (0, 5)	0.579262311604141
  (1, 12)	0.5439701462793114
  (1, 1)	0.3350961651087548
  (1, 7)	0.5439701462793114
  (1, 15)	0.5439701462793114
  (2, 11)	0.7106281860049563
  (2, 2)	0.5898824226331707
  (2, 3)	0.3834661767662525
  (3, 8)	0.547816986227786
  (3, 0)	0.547816986227786
  (3, 1)	0.47561899353072534
  (3, 3)	0.4166289382573313
  (4, 8)	0.4612227756787984
  (4, 0)	0.4612227756787984
  (4, 2)	0.539588983585992
  (4, 1)	0.4004372224241028
  (4, 3)	0.3507718091298034
  (5, 4)	0.6473413699710675
  (5, 8)	0.45930805238627415
  (5, 0)	0.45930805238627415
  (5, 1)	0.3987748446808513
  (6, 13)	0.5012403660704882
  (6, 14)	0.5012403660704882
  (6, 6)	0.5012403660704882
  (6, 3)	0.27047720679155046
  (6, 9)	0.41607255000878157

In [19]:
similarity_score = cosine_similarity(X)

In [20]:
similarity_score

array([[1.        , 0.        , 0.1198635 , 0.13022949, 0.10964393,
        0.        , 0.28460879],
       [0.        , 1.        , 0.        , 0.1593781 , 0.13418498,
        0.13362792, 0.        ],
       [0.1198635 , 0.        , 1.        , 0.15976311, 0.45280318,
        0.        , 0.10371886],
       [0.13022949, 0.1593781 , 0.15976311, 1.        , 0.84192858,
        0.6928984 , 0.11268863],
       [0.10964393, 0.13418498, 0.45280318, 0.84192858, 1.        ,
        0.58337096, 0.09487578],
       [0.        , 0.13362792, 0.        , 0.6928984 , 0.58337096,
        1.        , 0.        ],
       [0.28460879, 0.        , 0.10371886, 0.11268863, 0.09487578,
        0.        , 1.        ]])

In [21]:
len(similarity_score)

7

In [22]:
Favourite_movie_name = input("Enter your favourite movie name : ")

In [23]:
all_books_list = df_["Book Name"].tolist()

In [25]:
book_recommendation = difflib.get_close_matches(Favourite_movie_name, all_books_list)

In [26]:
book_recommendation

['Harry Potter', 'Hello Potter']

In [27]:
book_recommendation = book_recommendation[0]

In [28]:
book_recommendation

'Harry Potter'

In [32]:
df_[df_["Book Name"] == book_recommendation].index[0]

0

In [36]:
import requests

# Define a function to search for books by a keyword
def search_books(keyword):
    base_url = "https://www.googleapis.com/books/v1/volumes"
    params = {"q": keyword}

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        data = response.json()
        return data.get("items", [])
    else:
        print("Error: Unable to fetch data from Google Books API.")
        return []

# Function to extract book details from API response
def extract_book_details(book):
    title = book.get("volumeInfo", {}).get("title", "N/A")
    authors = book.get("volumeInfo", {}).get("authors", ["N/A"])
    genres = book.get("volumeInfo", {}).get("categories", ["N/A"])
    return {"title": title, "authors": authors, "genres": genres}

# Example usage:
keyword = "Harry Potter"
books = search_books(keyword)

if books:
    print(f"Books related to '{keyword}':")
    for book in books:
        book_details = extract_book_details(book)
        title = book_details["title"]
        authors = ", ".join(book_details["authors"])
        genres = ", ".join(book_details["genres"])
        print(f"Title: {title}")
        print(f"Authors: {authors}")
        print(f"Genres: {genres}")
        print("---")
else:
    print(f"No books found related to '{keyword}'.")

Books related to 'Harry Potter':
Title: Fantastic Beasts and Where to Find Them
Authors: J K. ROFLING
Genres: N/A
---
Title: Harry Potter - The Illustrated Collection
Authors: J. K. Rowling
Genres: N/A
---
Title: Harry Potter and the Cursed Child
Authors: J. K. Rowling, Jack Thorne, John Tiffany
Genres: Fiction
---
Title: Harry Potter: The Dark Arts (Tiny Book)
Authors: Insight Editions
Genres: Art
---
Title: The Psychology of Harry Potter
Authors: Neil Mulholland
Genres: Literary Criticism
---
Title: The Ultimate Harry Potter and Philosophy
Authors: William Irwin, Gregory Bassham
Genres: Philosophy
---
Title: A Journey Through Charms and Defence Against the Dark Arts
Authors: Pottermore Publishing
Genres: Science
---
Title: Harry Potter and History
Authors: Nancy Reagin
Genres: History
---
Title: Harry Potter and the Philosopher's Stone - 25th Anniversary Edition
Authors: J. K. Rowling
Genres: Juvenile Fiction
---
Title: Harry Potter and the Chamber of Secrets
Authors: J.K. Rowling
Genres: Fiction
---